.page-header {
    background-color: #DD0DE3;
    margin: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 64px;
    text-decoration: none;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.top-menu a{
    color: #efa9f1;
    font-size: 13pt;
}

.top-menu {
    color: #ffffff;
    float: right;
    font-size: 13pt;
    margin-bottom: 0px;
}

.container-fluid {
    width: 70%;
}

hr {
    color: #afafaf;
    margin: 10pxpx;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    width: 100%;
    text-align: justify;
}

.date {
    color: #828282;
    padding-top: 20px;
}

.post h1, .post h1 a 
{
    color: black;
    margin: 10px 0px;
}

.post h2
{
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

.post h1:hover {
    color: #DD0DE3;
    text-decoration: none;
    transition: 0.2s;
}

.post a {
    color: #175ee2;
    text-decoration: none;
}

.comment .date {
    color: #175ee2;
    padding-top: 20px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

footer {
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
